<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="DEV_HOME" value="./logs"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{MM-dd HH:mm:ss.SSS} %highlight(%-5level): %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="log_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/vtag.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5.5level [%-10.10thread] %logger{36}.%M - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/archived/alarm.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.viettel.vtag" level="INFO">
        <appender-ref ref="log_file"/>
    </logger>
</configuration>
